{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/candidate.css' %}">
{% endblock %}

{% block content %}
<section>
    {% if results %}
    <h2>Search Results:</h2>

    {% if result_type == 'district' %}
        {% for district in results %}
            <div class="district-card">
                <h3>{{ district.district_name }}</h3>
                <p>Province: {{ district.province.province_name }}</p>
                <p>Total Population: {{ district.total_population }}</p>
                <p>Male Population: {{ district.male_population }}</p>
                <p>Female Population: {{ district.female_population }}</p>
                <p>Local Units: {{ district.no_localunits }}</p>
                <p>Metropolitan: {{ district.no_metropolitan }}</p>
                <p>Municipalities: {{ district.no_municipalities }}</p>
                <p>Village Councils: {{ district.no_villageCouncil }}</p>
            </div>
        {% endfor %}
    {% elif result_type == 'local_unit' %}
        {% for unit in results %}
            <div class="local-unit-card">
                <h3>{{ unit.name }} {{ unit.type }}</h3>
                <p>District: {{ unit.district.district_name }}</p>
                <p>Number of Wards: {{ unit.no_wards }}</p>
                <p>Election Centers: {{ unit.no_electionCenter }}</p>
                <p>Total Population: {{ unit.total_population }}</p>
                <p>Male Voters: {{ unit.no_maleVoters }}</p>
                <p>Female Voters: {{ unit.no_femaleVoters }}</p>
                <p>Other Voters: {{ unit.no_otherVoters }}</p>
                <p>Total Eligible Voters: {{ unit.total_eligibleVoters }}</p>
            </div>
            <form method="GET" id="ward-form-{{ unit.id }}">
                <!-- Send the local unit ID -->
                <input type="hidden" name="local_unit" value="{{ unit.name }}">
                
                <label for="ward-{{ unit.id }}">Select Ward:</label>
                <select name="ward" id="ward-{{ unit.id }}" onchange="loadCandidates('{{ unit.id }}')" required>
                    <option selected disabled>Choose Ward</option>
                    {% for i in ""|center:unit.no_wards %}
                        <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                    {% endfor %}
                </select>
            </form>
        {% endfor %}
    {% elif result_type == 'province' %}
        {% for province in results %}
            <div class="province-card">
                <h3>{{ province.province_name }}</h3>
                <p>Headquarter: {{ province.province_headquarter }}</p>
            </div>
        {% endfor %}
    {% endif %}
 
{% endif %}
<div id="candidate-results-{{ unit.id }}" class="candidate-results"></div>
</section> 
{% block extra_script %}
<script src="{% static 'js/search.js' %}"></script>
{% endblock %} 
{% endblock %}